<div id="page-wrapper">
  <div id="profile-pic">
  </div>

  <div class="profile-content">
    <h1>Hey, I'm Mitch. I'm a phase 3 student</h1>
    <p>This weekend I'm building my first rails application. A railsy blog</p>
  </div>

</div>