
<% if current_user %>
  <div id="page_wrapper">
    <h1>Got something on your mind?</h1>

      <%= render 'form' %>
  </div>
 <% else %>
    <p class="session-fail"><strong>Please login before making a post!</strong></p>

<% end %>